@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: em(10px);
@import 'bower_components/neat/app/assets/stylesheets/neat';

body {
  background-color: #F2EEE5;
  text-align: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.recipe-listing-container {
  @include outer-container(1000px);
  padding: 0;
}

.recipe-listing {
  @include span-columns(4);
  @include omega(3n);
  position: relative;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  height: 100%;

}

.recipe-listing img {
  width: 100%;
  border-radius: 5px;

}

.new-button {
  position: fixed;
  font-size: 100px;
  right: 50px;
  bottom: 0;
}

a {
  text-decoration: none;
}

.myrecipeslink {
  text-align: center;
  color: #7d9631;
  font-size: 4em;
}

.logo {
  height: 5em;
}

input,
textarea,
select,
button {
  outline: #7d9631;
  font-size: 1.3em;
  margin: 5px;
}

button {
  background-color: #7d9631;
  color: #f2efe5;
}

:focus {
  outline-color: transparent;
  outline-style: ridge;
}

.column1,
.column2 {
  width: 26.5%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  right: -38px;
}

.column1 {
  text-align: center;
}

.column2 {
  text-align: left;
}

.column3 {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  right: -38px;
}

.notes {
  width: 75%;
  height: 150px;
}

::-webkit-input-placeholder {
  color: #7d9631;
}

:-moz-placeholder {
  opacity: 2;
  color: #7d9631;
}

::-moz-placeholder {
  opacity: 2;
  color: #7d9631;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #7d9631;
}

.steps-title {
  position: relative;
  right: -96px;
}
