@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: em(10px);
@import 'bower_components/neat/app/assets/stylesheets/neat';

body {
  background-color: #F2EEE5;
  margin: 55px;
  text-align: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.add-ing-button {
  margin: 0;
  font-size: 25px;
  vertical-align: top;
}

.ingredients-name {
  margin: 0;
}

.form-container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.recipe-listing-container {
  @include outer-container(1000px);
  padding: 0;
}

.recipe-listing {
  @include span-columns(4);
  @include omega(3n);
  position: relative;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  height: 100%;

}

.recipe-listing img {
  width: 100%;
  border-radius: 5px;

}

.fa.fa-plus-circle {
  position: fixed;
  font-size: 50px;
  right: 5px;
  bottom: 0;
  color: #7C9431;
}

a {
  text-decoration: none;
}

.myrecipeslink {
  text-align: center;
  color: #7d9631;
  font-size: 4em;
}

.logo {
  height: 5em;
}

input,
textarea,
select,
button {
  outline: #7d9631;
  font-size: 1em;
  margin: 5px;
}

input {
  padding: 8px;
}

button {
  background-color: #7d9631;
  color: #f2efe5;
}

:focus {
  outline-color: transparent;
  outline-style: ridge;
}

.column1,
.column2 {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /* position: relative; */
/* right: -38px; */
}


.column3 {
  display: block;

  /* text-align: center; */
  /* position: relative; */
  right: -38px;
}

.notes {
  padding: 8px;
  height: 150px;
  width: 84%;
}

::-webkit-input-placeholder {
  color: #7d9631;
}

:-moz-placeholder {
  opacity: 2;
  color: #7d9631;
}

::-moz-placeholder {
  opacity: 2;
  color: #7d9631;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #7d9631;
}
