<h1>Recipes</h1>

<ul>
{{#each recipe in model}}
<li>

<div>{{recipe.name}}</div>

{{#link-to 'recipes.recipe' recipe}}
<div><img {{bind-attr src=recipe.image}}></div>
{{/link-to}}

</li>
{{/each}}
</ul>

{{#link-to 'recipes.new'}}
  <h2>Add new</h2>
{{/link-to}}

{{outlet}}
